<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="text-center border border-light p-5">

    <p class="h4 mb-4">Sign up</p>
  
    <div class="form-row mb-4">
        <div class="col">
            <input type="text" formControlName="firstname" id="defaultRegisterFormFirstName" class="form-control" placeholder="Firstname">
        </div>
        <div class="col">
            <input type="text" formControlName="lastname" id="defaultRegisterFormLastName" class="form-control" placeholder="Lastname">
        </div>
    </div>
  
    <input type="email" formControlName="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">
    <div class="form-row mb-4">
        <div class="col">
            <input type="password" formControlName="password" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="Password">
        </div>
        <div class="col">
            <input type="password" formControlName="confirmPassword" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="Repeat your Password">
        </div>
    </div>
    <button class="btn btn-info my-4 btn-block" type="submit">Sign in</button>
  
    <hr>
  
  </form>