.news {
  max-width: 100%;
  width: 85%;
  margin: auto;
  display: block;
}

.news article {
  max-width: 100%;
  width: 100%;
}

.news article aside {
  max-width: 100%;
  width: 25%;
  display: inline-block;
}
.news article aside img {
  max-width: 100%;
  width: 100%;
}
